<section class="section projects-section">
    <h2 class="section-title">
        <i class="fa {{ .Site.Params.projects.icon }}"></i>
        {{ i18n "projects" }}
    </h2>

    <div class="intro">
        <p>{{ with .Site.Params.projects.intro }}{{ . | markdownify }}{{ end }}</p>
    </div><!--//intro-->

    {{ range .Site.Params.projects.list }}
        <hr><!--//separator-->
        <div class="item">
            <span class="project-title">
                <span class="title">
                    <a href="{{ index (.links) 0 }}">
                        {{ .title }}
                    </a>
                </span>
                <span class="repos-links">
                    {{ $icons := .icons }}
                    {{ range $key, $url := .links }}
                        <a href="{{ $url }}">
                            <i class="{{ index ($icons) $key }}"></i>
                        </a>
                    {{ end }}
                </span>
            </span>
            <div class="project-desc">
                {{ with .description }}{{ . | markdownify }}{{ end }}
            </div>
        </div><!--//item-->
    {{ end }}

</section><!--//section-->
