<section class="section publications-section">
    <h2 class="section-title">
        <i class="fa {{ .Site.Params.publications.icon }}"></i>
        {{ i18n "publications" }}
    </h2>

    {{ range .Site.Params.publications.list }}
    <div class="li-item">
        <div class="meta">
            <div class="li-time">{{ .dates }}</div>
                <div class="li-title">
                    <a href="{{ .url }}">{{ .title }}</a>
                </div>
            <div class="li-detail">
                <span class="publisher">{{ .publisher }}</span>
                <span class="journal">{{ .journal }}</span>
            </div>
        </div><!--//meta-->
    </div><!--//item-->
    {{ end }}
</section><!--//section-->
